{% load static %}
<footer class="container-fluid">
  <div class="container-large p-4 d-flex justify-content-center gap-4">
    <div>
      <div heigth="50">
        <img
        src="{% static 'images/logo1.png' %}"
        alt=""
        class="footer-img"
        width="100"
      />
      </div>
      
      <p class="footer-desc mt-4">
        Dracarys was born from the desire to make it easier for people to find food
        to break their fast. 
      </p>
    </div>
    <div class="ms-4">
      <h5 class="footer-title">Contacts</h5>
      <ul class="footer-list mt-4 d-flex flex-column gap-2">
        <li>
          <span class="me-1"><i class="fa-solid fa-envelope"></i></span>
          <span>help.dracarys@email.com</span>
        </li>
        <li>
          <span class="me-1"><i class="fa-solid fa-phone"></i></span>
          <span>0812 3456 7890</span>
        </li>
      </ul>
    </div>
    <div class="ms-4">
      <h5 class="footer-title">Quick Links</h5>
      <ul class="footer-list mt-4 d-flex flex-column gap-2">
        <li><a href="">Food</a></li>
        <li><a href="">Drinks</a></li>
        <li><a href="">Favorites</a></li>
        <li><a href="">Reviews</a></li>
      </ul>
    </div>
    <div class="ms-4">
      <h5 class="footer-title">Social Media</h5>
      <ul class="footer-list mt-4 d-flex flex-column gap-2">
        <li>
          <span class="me-1 icon-link">
            <i class="fa-brands fa-instagram"></i>
          </span>
          <a href="">Instagram</a>
        </li>
        <li>
          <span class="me-1 icon-link">
            <i class="fa-brands fa-twitter"></i>
          </span>
          <a href="">Twitter</a>
        </li>
        <li>
          <span class="me-1 icon-link">
            <i class="fa-brands fa-github"></i>
          </span>
          <a href="">Github</a>
        </li>
        <li>
          <span class="me-1 icon-link">
            <i class="fa-brands fa-facebook"></i>
          </span>
          <a href="">Facebook</a>
        </li>
      </ul>
    </div>
  </div>
  <p class="text-center copyright-text mt-4">© Copyright Dracarys. All rights reserved.</p>
</footer>

<!-- <i class="fa-brands fa-instagram"></i>
<i class="fa-brands fa-twitter"></i>
<i class="fa-brands fa-github"></i>
<i class="fa-brands fa-facebook"></i> -->
