{% extends "base.html" %}
{% load static %}

{% block meta %}
<title>Food | Dracarys</title>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/static/css/style.css">
{% endblock meta %}

{% block content %}

<div class="container mx-auto">
    <div class="flex justify-end mt-12">
            <button onclick="showAddFoodModal()" class="bg-[#005b9c] flex items-center gap-2 text-white font-raleway font-medium pr-4 pl-3 py-2" style="margin-bottom: 1.5rem;">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                    <path d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z" />
                </svg>
                <p class="-mb-0.5">Add Food</p>
            </button>
    </div>
</div>

<div class="flex container items-center align-center mx-auto flex-col">
    <div class="filter-box">
        <form id="filterForm" class="filter-form" method="GET" onsubmit="submitFilterForm()">
            {{ form.as_p }}
            <button type="submit" class="filter-btn">Filter</button>
        </form>
    </div>

    <div class="d-flex flex-wrap gap-4 justify-content-center mt-4">
    {% for food in foods %}
        <div class="card-box">
            <div class="card-box-inner shadow-sm">
              <div class="card-box-front d-flex gap-4">
                <img
                  src="{% static  'images/card-decoration.jpg' %}"
                  class="card-decoration"
                  alt="card-decoration"
                />
                <div class="card-box-description">
                  <h5 class="card-box-title mt-4" style="font-size: 1.25rem;">{{ food.product.title }}</h5>
                  <div>
                    <p>{{ food.merchant_area.title }}</p>
                    <p>{{ food.merchant_name }}</p>
                  </div>
                  <div class="relative">
                    <a href="{% url 'foods:food_detail' food.id %}" class="btn btn-success" >
                        See Details
                    </a>
                </div>
                </div>
              </div>
            </div>
          </div>
    {% endfor %}
    </div>
</div>

<body>
    <div class="add-product-container">
        <form method="POST">
            {% csrf_token %}
            <table>
                {{ form.as_p }}
            </table>
        </form>
    </div>
    <div class="container mx-auto">
        <div id="modal" class="hidden z-20">
            <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity z-20"></div>
            <div class="fixed inset-0 z-20 w-screen overflow-y-auto">
                <div id="modal-panel" class="flex min-h-full items-end justify-center p-4 text-center items-center sm:p-0">
                    <div class="relative transform rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg" onclick="event.stopPropagation()">
                        <div class="bg-white rounded-lg md:px-8 pt-8 md:mb-4 mb-4 md:max-w-xl max-w-sm">
                            <p class="md:text-2xl text-xl font-bold text-slate-700 pb-4">Add Food</p>
                            <form id="form" method="POST">
                                {% csrf_token %}
                                <div class="grid grid-cols-1 gap-y-3 gap-x-4 font-inter">
                                    <div>
                                        <label for="merchant_area">Merchant Area:</label>
                                        <div class="py-2">
                                            <input class="border w-full px-3 py-2" type="text" name="merchant_area" maxlength="150" id="merchant_area">
                                        </div>
                                    </div>
                                    <div>
                                        <label for="merchant_name">Merchant Name:</label>
                                        <div class="py-2">
                                            <input class="border w-full px-3 py-2" type="text" name="merchant_name" maxlength="150" id="merchant_name">
                                        </div>
                                        </div>
                                    </div>
                                    <div>
                                        <label for="category">Category:</label>
                                        <div class="py-2">
                                            <input class="border w-full px-3 py-2" type="text" name="category" maxlength="150" id="category">
                                        </div>
                                    </div>
                                    <div>
                                        <label for="product">Product</label>
                                        <div class="py-2">
                                            <input class="border w-full px-3 py-2" type="number" name="product" maxlength="4" id="product">
                                        </div>
                                    </div>
                                    <div>
                                        <label for="description">Description:</label>
                                        <div class="py-2">
                                            <input class="border w-full px-3 py-2" type="text" name="description" maxlength="150" id="description">
                                        </div>
                                    </div>

                                </div>
                                <div class="bg-gray-50 px-4 py-4 sm:flex sm:flex-row-reverse sm:px-8">
                                    <button id="confirm-modal" type="submit" class="inline-flex w-full justify-center rounded-md bg-[#3992C6] hover-bg-[#247FB8] px-3 py-2 text-sm font-semibold text-white shadow-sm sm:ml-3 sm:w-auto">Add Book</button>
                                    <button id="cancel-modal" type="button" class="inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover-bg-gray-200 sm:mt-0 sm:w-auto">Cancel</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</body>
{% endblock content %}

{% block script %}
<script src="static/js/modal_Food.js"></script>
{% endblock script %}
