{% extends 'base.html' %}
{% load static %}
{% block meta %}
		<title>Favorites | Dracarys</title>
{% endblock meta %}
{% block content %}
  <div class="favorite-food-container">
    <div class="filter-box">
      <form
        id="filterForm"
        class="filter-form"
        method="GET"
      >
        <button type="submit" class="filter-btn" name="category" value="Nasi">
          <img src="{% static "images/category/rice_icon.png" %}" class="filter-img" alt="">
          <span>Rice</span>
        </button>
        <button type="submit" class="filter-btn" name="category" value="Mie">
          <img src="{% static "images/category/noodle_icon.png" %}" class="filter-img" alt="">
          <span>Noodle</span>
        </button>
        <button type="submit" class="filter-btn" name="category" value="Snack">
          <img src="{% static "images/category/snack_icon.png" %}" class="filter-img" alt="">
          <span>Snack</span>
        </button>
        <button type="submit" class="filter-btn" name="category" value="Lainnya">
          <img src="{% static "images/category/other_icon.png" %}" class="filter-img" alt="">
          <span>Others</span>
        </button>
        <button type="submit" class="filter-btn" name="" value="">
          <img src="{% static "images/category/no_filter_food.png" %}" class="filter-img" alt="">
          <span>Remove Filter</span>
        </button>
      </form>
    </div>
    {% if favfood  %}
    <div class="d-flex flex-wrap gap-4 justify-content-center">
      {% for item in favfood %}
      <div class="card-box">
        <div class="card-box-inner shadow-sm">
          <div class="card-box-front d-flex gap-4">
            <img
            {% if item.category == "Nasi"  %}
              src="{% static  'images/category/rice_icon.png' %}"
            {% elif item.category == "Mie"  %}
              src="{% static  'images/category/noodle_icon.png' %}"
            {% elif item.category == "Snack"  %}
              src="{% static  'images/category/snack_icon.png' %}"
            {% elif item.category == "Lainnya"  %}
              src="{% static  'images/category/other_icon.png' %}"
            {% endif %}
              class="card-decoration"
              alt="card-decoration"
            />
            <div class="card-box-description">
              <h5 class="card-box-title mt-4">{{ item.product.title|truncatewords:2 }}</h5>
              <div>
                <p>{{ item.merchant_area.title }}</p>
                <p>{{ item.merchant_name|truncatewords:3 }}</p>
              </div>
              <div class="relative">
                <a
                  href="{% url 'foods:food_detail' item.pk %}"
                  class="btn btn-success"
                  style="background-color: #014d2f"
                >
                  See Details
                </a>
              </div>
            </div>
            <form action="{% url 'favfnd:remove_favfood' item.id %}" method="POST" style="display: inline;">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger" style="background: none; border: none;">
                  <i class="fas fa-trash" style="color: red; display: flex; justify-content: end;"></i> Hapus
              </button>
          </form>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% else %}
    <div class="empty-message">
      <h1 class="text-center">It looks like you don't have any favorite item</h1>
      <a class="text-center cata-link" href="{% url "foods:show_food" %}"><h1>Explore Catalogue</h1></a>
    </div>
    {% endif %}
  </div>
{% endblock content %}